header {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  background-color: gray;
  color: white;
}

#content {
  height: 100vh;
}

* {
  margin: 0;
}
